<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:include="fragments/header :: headercode"></th:block>
    <link href="../static/css/bootstrap.min.css"/>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', {'packages':['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Votes');
            data.addColumn('number', 'Ratings');
            data.addRows([
                ['Taylor Swift', 10],
                ['2 Pac', 5],
                ['Eminem', 7],
                ['Sekpta', 8],
                ['Whiz Khalifa', 3]
            ]);

            // Set chart options
            var options = {'title':'Top Rated Singers!',
                'width':1000,
                'height':600};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

        function PdfView() {
            document.getElementById('clickhere').style.display = "block";
        }

    </script>

</head>
<body>


<div th:include="fragments/header :: header"></div>


<div id="chart_div"></div>




<div id="clickhere"  style="display:none;" class="answer_list" >
    <object data="http://s6.pdfconvertonline.com/convert/p3r68-cdx67/ws29r-t8iy7.pdf" type="application/pdf">
</object></div>
<input type="button" name="viewpdf" value="PDF View" onclick="PdfView()" />



</body>
</html>

