<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: headercode"></th:block>
    <link href="../static/css/bootstrap.min.css"/>
</head>
<body>



User Logged In: <span th:text=" ${session.username == null}  ?: 'user'">Logged in</span>

<div th:include="fragments/header :: header"></div>

<p><a href="/singer/graph" th:href="@{/singer/data}">View Singers Graph</a></p>


<P>Singers Table</P>
<table border="1px">
    <tr>
        <th>Singer Name</th>
        <th>Song Name</th>
        <th>Add Comment</th>
        <th>Update Info</th>
        <th>Delete Info</th>
    </tr>
    <tr th:each="singer : ${singers}">
        <td th:text="${singer.singername}">Taylor Swift</td>
        <td th:text="${singer.songname}">Blank Space</td>
        <td th:text="${singer.addcomment}">Wonderful Singer</td>
        <td><a href="#" th:href="@{/singer/update/}+${singer.id}">Update</a> </td>
        <td><a href="#" th:href="@{/singer/delete/}+${singer.id}">Delete</a> </td>
    </tr>
</table>

<a href="/singer/register" th:href="@{/singer/register}">Add Singer</a>
<a href="/singer/search" th:href="@{/singer/search}">Search Singer</a>




<P>Users On The Website</P>

<table border="1px">
    <tr>
        <th> First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.firstname}">Bob</td>
        <td th:text="${user.lastname}">Lee</td>

    </tr>
</table>

<a href="/user/search" th:href="@{/user/search}">Search User</a>

</body>
</html>